*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*html, body{
    font-size: 14px;
}*/

@media screen and (min-width: 768px) {
  
    /* STYLES HERE */
    .container {
        max-width: 85%;
        margin-right: auto;
        margin-left: auto;
    }
    .header-one {
        border-bottom: 1px solid #e8e6e6;
        line-height: 23px;
        background-color: #fff;
    }
    .header {
        display: grid;
    }
    .header-text {
        float: left;
        width: 65%;
    }
    .info-time {
        display: flex;
        list-style-type: none;
        font-size: 11px;
        font-family: tahoma, Arial, Helvetica, sans-serif;
    }
    .info-time li:last-child {
        padding-left:15px;
    }
    .header-infor {
        width: 35%;
        float: left;
    }
    .info-login {
        float:right;
        font-size: 11px;
        font-family: tahoma, Arial, Helvetica, sans-serif;
        list-style-type: none;
    }
    .info-login li {
        float: left;
    }
    .info-login li:last-child {
        padding-left: 10px
    }
    .zoom-size {
        font-size: 20px;
    }
    .total-price {
        color: #df1f26;
        font-weight: bold;
    }
    /* style menu */
    .logo {
        float: left;
        display: inline-block;
    }
    .logo a img {
        width: 90%;
    }
    .clearfix {
        display: block;
        content: "";
        clear: both;
    }
    .menu {
        float: left;
    }
    .menu-info {
        font-size: 13px;
        font-family: Arial;
        text-transform: uppercase;
        list-style-type: none;
    }
    .menu-info li {
        float: left;
        padding-left: 15px;
    }
    .header-menu {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .btn-pay button {
        padding: 7px 7px;
        font-size: 11px;
        font-family: tahoma;
        text-align: center;
        text-decoration: none;
        background-color: #df1f26;
        border: none;
        color: #fff;
        font-weight: bold;
    }
    .content {
        background-color: #444;;
        margin-top: 15px;
        width: 100%;
        color: #fff;
    }
    .category {
        display: flex;
        align-items: 8xp;
        align-items: center;
    }
    .category i {
        padding: 13px;
        background-color: #df1f26;
    }
    .category span {
        font-size: 13px;
        font-weight: bold;
        font-family: Tahoma, Geneva, Verdana, sans-serif;
    }
    .btn-pay {
        border: 1px solid #e8e6e6;
        padding: 3px;
    }
    .category-sub {
        display: flex;
        align-items: center;
        width: 25%;
        float: left;
    }
    .search-select {
        float: left;
    }
    .search-box {
        display: contents;
        float: right;
    }
    .search-box button{
        text-decoration: none;
        border: none;
        color: #fff;
    }
    .search-box button i {
        padding: 10px 13px;
    }
    
    .select-tag {
        padding: 9px 40px 6px 1px;
        font-size: 11px;
        font-family: tahoma;
        text-align: left;
    }
    .header-search {
        background-color: #2f2f2f;
        padding-left: 5px;
        width: 75%;
    }
    .header-search form {
        display: flex;
        align-items: center;
        padding: 10px 10px;
    }

    .input-search {
        width: 73%;
        padding: 10px 24px 3px 25px;
    }
    .menu-list {
        width: 100%;
        list-style-type: none;
        font-size: 14px;
        font-family: tahoma;
    }

    .menu-list > li {
        position: relative;
        text-transform: capitalize;
        padding: 10px;
        display: flex;
        border-style: solid;
        border-color:#ccc;
        border-width: 0px 1px 1px 1px;
        align-items: center;
    }

    .menu-list > li:hover {
        background-color: #df1f26;
        border-right: 1px solid #ccc;
    }

    .menu-list > li:hover > a {
        color: #fff;
    }

    .menu-list > li > a {
        width: 100%;
        font-size: 12px;
        font-family: tahoma;
        display: flex;
        align-items: center;
        color: black;
        text-decoration: none;
    }

    .menu-list > li .ul-child li{
        cursor: pointer;
        padding: 8px;
        display: flex;
        align-items: center;
        list-style-type: none;
        border-bottom: 1px solid #e8e6e6;
        padding-left: 10px;
    }
    .menu-list > li .ul-child li a{
        text-decoration: none;
    }
    .menu-list > li .ul-child li:hover{
        color: black;
        list-style-type: none;
    }

    .ul-child li:hover a {
        color: #df1f26;
        font-weight: bold;
    }

    /* hidden ul. after hover of item will show tag ul */
    .menu-list > li .ul-child {
        position: absolute;
        left: 100%;
        width: 100%;
        background-color: #fff;
        list-style-type: none;
        text-decoration: none;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        top: 0px;
        box-shadow: 0 0 5px rgba(0,0,0,.2);
        display: none;
    }
    /* block tag ul */
    .menu-list > li:hover .ul-child {
        display: block;
    }
    
    .menu-list > li > a:first-child {
        left: 0px;
    }
    .menu-list > li > a:last-child{
        right: 0px;
    }

    .menu-list > li > a::before {
        content: "\f009";
        font-size: 5px;
        font-family: "fontawesome";
        margin-right: 5px;
    }
    .menu-list > li > a::after {
        content: "\f105";
        font-size: 5px;
        font-family: "fontawesome";
        margin-right: 10px;
        position: absolute;
        font-size: 10px;
        display: block;
        right: 0px;
    }
    /* slider content */
    .img-slider {
        width: 75%;
        padding: 10px 0px 10px 10px;
        box-sizing: border-box;
        float: left;
    }
    .slider-top {
        width: 100%;
    }
    .slider-left {
        width: 70%;
        float: left;
    }
    .slider-left > img {
        width: 100%;
    }
    .slider-right {
        width: 30%;
        padding-left: 10px;
        box-sizing: border-box;
        float: left;
    }
    .slider-right > img{
        width: 100%;
    }
    .slider-bottom {
        justify-content: space-between;
        width: 100%;
        display: flex;

    }
    .slider-bottom-left {
        height: 108px;
        overflow: hidden;
        float: left;
        width: 32%;
    }
    .slider-bottom-left > img{
        width: 100%;
        object-fit: cover;
    }
    .slider-bottom-center {
        height: 108px;
        overflow: hidden;
        float: left;
        width: 34%;
    }
    .slider-bottom-center > img {
        width: 100%;
        object-fit: cover;
    }
    .slider-bottom-right {
        height: 108px;
        overflow: hidden;
        float: left;
        width: 32%;
    }
    .slider-bottom-right > img{
        width: 100%;
        object-fit: cover;
    }
    img {
        width: 100%;
        max-height: 100%;
    }
   /* product list */
   .row-product {
       margin-top: 10px;
   }
   .product-new {
       width: 25%;
       float: left;
   }
   .infor-product {
    /* margin-bottom: 10px; */
       text-align: center;
   }
   .product-name {
        padding-bottom: 10px;
    }
   .product-new .title {
        box-shadow: inset 0 0 5px rgba(0, 0, 0,.5);
        background-color: #dad9d9;
        padding: 10px;
        text-transform: uppercase;
        font-family: tahoma;
        font-weight: 500;
        font-size: 13px;
   }
   .price {
        color: #df1f26;
        font-size: 13px;
        font-family: tahoma;
        font-weight: bold;
   }
   del {
        font-size: 11px;
        font-family: tahoma;
    }
    .sale-price {
        text-align: center;
        background-color: #df1f26;
        width: 90px;
        display: block;
        transform: rotate(-45deg);
        position: absolute;
        left: -30px;
        font-size: 12px;
        top: 8px;
        color: #fff;
        font-family: tahoma;
    }
    .img-product {
        position: relative;
        overflow: hidden;
        border: 1px solid #ccc;
    }
    .img-product button{
        cursor: pointer;
        background-color: #df1f26;
        border: none;
        padding: 8px 10px 12px;
        color: fff;
        color: #fff;
        font-size: 12px;
        font-family: tahoma;
        border-radius: 3px;
        display: block;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .img-product a img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .installment {
        position: absolute;
        top: 40%;
        right: 0px;
        background-color: #df1f26;
        color: #fff;
        font-size: 13px;
        padding: 4px 6px;
        font-family: tahoma;
        font-weight: bold;
    }
    .img-product:hover {
       box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    }
    .product-hot {
        float: left;
        width: 75%;
        padding: 0px 0px 0px 10px;
        box-sizing: border-box;
    }
    .product-hot .title {
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
        background-color: #dad9d9;
        font-family: tahoma;
        font-weight: 500;
        font-size: 13px;
        padding: 10px;
    }
    .product-item:nth-child(1) {
        border-left: 1px solid #ccc;
    }
    .product-hot__body {
        display: flex;
    }
    .product-item {
        position: relative;
        overflow: hidden;
        padding: 5px;
        cursor: pointer;
        border-right: 1px solid #ccc;
        text-transform: uppercase;
        text-align: center;
        font-size: 13px;
        font-family: tahoma;
        display: table-cell;
        width: 25%;
        border-bottom: 1px solid #ccc;
    }
    .product-item:hover {
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    }
    .info-item .name-product {
        padding: 0px 5px;
        line-height: 1.5;
        height: 3.5rem;
    }
    .info-item button {
        background-color: #fdfafa;
        padding: 5px 9px 9px;
        text-align: center;
        border: 1px solid #ccc;
        color: black;
        font-family: tahoma;
        margin-top: 10px;
        border-radius: 3px;
        margin-bottom: 10px;
    }
    .info-item button::after {
        margin-bottom: 10px;
    }

    .info-item button:hover {
        background-color: #df1f26;
        color: #fff;
    }
    .slider-product-hot {
        padding-top: 15px;
    }
    .star {
        color: #eca330;
        margin: 5px 0px;
    }
   
    .img-item .sale-price {
        padding: 0px;
        background-color: #df1f26;
    }
    .slider-product-hot > a > img {
        border: 1px solid #ccc;
    }

    .slider-product-hot {
        padding-top: 15px;
        margin-bottom: 10px;
    }
    .banner-left {
        width: 50%;
    }
    .banner-right {
        width: 50%;
        margin-left: 10px;   
        box-sizing: content-box;
    }
    .item-first-sale {
        border-left: 1px solid #ccc;
    }
    .item-first-sale:hover {
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    }
    .item-comment {
        width: 20%;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
    }
    .comment-hot {
        width: 100%;
        display: inline-block;
    }
    .comment-hot__header {
        background-color: #dad9d9;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    }
    .comment-hot__header > p {
        padding: 10px;
        text-transform: uppercase;
        font-size: 13px;
        font-family: tahoma;
    }
    .item-comment-img > p{
        text-align: center;
        background-color: #df1f26;
        color: #fff;
        width: 80px;
        transform: rotate(-45deg);
        position: absolute;
        overflow: hidden;
        left: -29px;
        font-size: 13px;
    }
    .item-comment-img {
        position: relative;
    }
    .item-comment {
        padding: 5px;
        border: 1px solid #ccc;
    }
    .comment-hot__body {
        flex-wrap: wrap;
        display: flex;
    }
    .item-comment-img span{
        background-color: #ffb424;
        color: #fff;
        display: inline-block;
        padding: 2px 10px 3px;
        right: 5px;
        top: 83%;
        font-size: 10px;
        position: absolute;
        font-family: tahoma;
        text-transform: uppercase;
    }
    .item-comment:hover {
        box-shadow: inset 0 0 5px rgba(0, 0, 0,.5);
    }

    .item-comment-content {
        margin-top: 10px;
        text-align: center;
        text-transform: uppercase;
        font-size: 13px;
        font-family: tahoma;
        text-align: center;
        /*position: absolute;
        bottom: 0px;*/
    }
    
   /* .item-comment-content p:nth-child(1) {
        line-height: 1.5;
        height: 3.5rem;
    }*/
    .item-comment-content > button {
        text-decoration: none;
        border: none;
        color: #fff;
        margin: 10px;
        padding: 7px 9px 9px;
        border-radius: 3px;
        color: black;
        border: 1px solid #ccc;
        cursor: pointer;
        background-color: #fdfafa;
    }
    .item-comment-content > button:hover {
        background-color: #df1f26;
        color: #fff;
    }
    .banner-bottom {
        display: inline-flex;
        margin: 15px;
    }
    .space-row {
        margin-bottom: 15px;
    }
    .text-title {
        line-height: 1.5;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .mail-send {
        width: 100%;
       background-color: #ccc;
    }
    .input-email {
        width: 50%;
        float: left;
        text-align: right;
        padding: 10px;
        background-color: #ccc;
    }
    .input-email form{
        padding: 5px;
        position: relative;
    }
    .input-text-email {
        width: 70%;
        padding: 8px;
        border: none;
        border-radius: 5px;
    }
    .button-send-email {
        border: none;
        padding: 8px 10px;
        position: absolute;
        right: 2px;
        bottom: 5px;
        border-radius: 5px;
        color: #fff;
        background-color: #df1f26;
    }
    .text-email {
        align-items: center;
        width: 50%;
        float: left;
        color: #fff;
        text-align: left;
    }
    .text-email h4{
        font-size: 13px;
        font-family: tahoma;
    }
    .wapper-email {
        display: flex;
        align-items: center;
    }
    .footer {
        background-color: #ccc;
        margin-top: 10px;
    }
    .wapper-footer {
        display: flex;
        align-items: center;
        text-align: center;
    }
    .footer-logo {
        width: 140px;
    }
    .contact {
        padding: 10px 0px;
        list-style-type: none;
    }

    /*-------------------*/
    /* DETAIL */
    .break-crum {
        margin-top: 10px;
        border: 1px solid #ccc;
        list-style-type: none;
        font-size: 13px;
        font-family: tahoma;
        display: flex;
    }
    .break-crum li {
        float: left;
        padding: 10px;
    }
    .break-crum li:last-child {
        display: inline-block;
    }
    .title-detail-product {
        margin: 20px 0px 0px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 13px;
    }
    .title-detail-product::after {
        border-bottom: 1px solid #ccc;
    }
    .container-left {
        width: 80%;
    }
    .img-product-real {
        width: 50%;
    }
    .descript-product {
        width: 50%;
        margin-top: 15px;
        font-size: 12px;
        font-family: tahoma;
        margin-left: 15px;
    }
    .descript-product p {
        line-height: 1.5;
    }
    .descript-product h5 {
        padding: 3px 0px;
        border-bottom: 1px solid #ccc;
    }
    .wapper-img-product {
        display: flex;
    }
    .location-delevery {
        padding: 0px 0px 7px;
        border-bottom: 1px solid #ccc;
        color: #0833f6;
        font-weight: bold;
    }
    .left-text-buy {
        margin-right: 10px;
    }
    .wapper-status {
        display: flex;
        margin-top: 5px;
    }
    .button-buy {
        position: relative;
        display: flex;
        margin-top: 10px;
    }
    .button-buy input{
        padding: 8px 3px;
        width: 100px;
    }
    .redution-increase {
        text-align: center;
        position: absolute;
        left: 85px;
    }
    .redution-increase a {
        padding: 2px 3px;
        color: #fff;
        background-color: #989797;
        text-decoration: none;
        display: block;
    }
    .button-buy button {
        border: none;
        padding: 0 10px;
        background-color:  #df1f26;
        color: #fff;
        margin-left: 15px;
    }
    .button-buy span{
        align-items: center;
        text-align: center;
        display: flex;
        border: 1px solid #ccc;
        margin-left: 15px;
        padding: 0 10px;
    }
    #gal1 {
        display: flex;
    }
    .contaier-wapper {
        display: flex;
    }
    .container-right {
        width: 20%;
        margin: 15px 0 0 20px;
        font-size: 12px;
        font-family: tahoma;
    }
    .product-best {
        text-align: center;
        border: 1px solid #ccc;
    }
    .product-best__header p{
        background-color: red;
        background-color: #dad9d9;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
        padding: 10px 0;
    }
    .product-best__body {
        border-bottom: 1px solid #ccc;
    }
    .product-best__body_content {
        padding-bottom: 10px;
    }
    .best__body_content p {
        line-height: 1.5
    }
    .trademark {
        display: inline-block;
        border: 1px solid #ccc;
        margin-top: 13px;
    }
    .trademart__header {
        text-align: center;
        font-size: 13px;
        font-family: tahoma;
        font-weight: bold;
        margin-bottom: 5px
    }
    .trademart__header p {
        padding: 10px 0;
        background-color: #dad9d9;;
    }
    .trademart-content {
        list-style-type: none;
        margin: 0 5px;
    }
    .trademart-content li {
        padding: 1px 5px 2px;
        background-color: #ccc;
        display: inline-block;
        border-radius: 4px;
        float: left;
        margin: 3px;
    }
    .trademart-content li:hover {
        cursor: pointer;
        background-color: #df1f26;
        color: #fff;
    }
    .comment {
        margin-top: 13px;
    }
    .comment__header {
        background-color: #ccc;
    }
    .comment__header p {
        padding: 8px;
    }
    .comment__body {
        background-color: #eeeded;
    }
    .comment-body-left {
        width: 40%;
        float: left;
        width: 40%;
        margin: 15px;
    }
    .comment-body-left input {
        width: 95%;
        padding: 5px;
        margin-bottom: 10px;
    }
    .comment-body-right {
        width: 60%;
        float: left;
        margin-top: 15px
    }
    #comment {
        width: 100%;
        padding: 10px;
    }
    .wapper__commnet_body {
        display: flex;
        align-items: center;
    }
    .comment__body {
        position: relative;
    }
    .commnet__footer {
        position: absolute;
        display: inline-block;
        bottom: 0px;
        margin-left: 15px;
    }
    .commnet__footer button{
        border: none;
        background-color: #df1f26;
        padding: 10px;
        padding: 10px 8px 6px;
        color: #fff;
    }
    .wapper-coment {
        border: 1px solid #ccc;
    }
    .commnet__footer {
        margin-bottom: 10px;
    }
    .comment-dady-ul {
        display: flex;
        list-style-type: none;
        align-items: center;
        font-family: tahoma;
        font-size: 13px;
    }
    .comment-daddy {
        position: relative;
    }
    .comment-daddy p {
        position: absolute;
        bottom: 0px;
        left: 55px;
    }
    .comment-dady-ul li i {
        background-color: #cfcece;
        padding: 10px;
        border-radius: 5px;
        font-size: 30px;
    }
    .comment-dady-ul li {
        padding: 5px;

    }
    .same-trademart__header p {
        padding: 10px;
        background-color: #ccc;
        font-size: 13px;
        font-family: tahoma;
    }
    .same-trademart__body {
        display: flex;
    }
    .same-trademart_item {
        width: 25%;
        border: 1px solid #ccc;
    }
    .same-trademart-item-img {
        overflow: hidden;
        position: relative;
        text-align: center;
    }
    .same-trademart-item-img .sale-price {
        padding: 0 20px;
        background-color: #df1f26;
        transform: rotate(-45deg);
        display: block;
        top: 9px;
        left: -25px;
        position: absolute;
        font-size: 13px;
        font-family: tahoma;
    }
    .same-trademart-item-body {
        position: relative;
        text-align: center;
    }
    .same-trademart-item-body .installment-trademart {
        padding: 0 10px;
        background-color: #df1f26;
        color: #fff;
        right: 0px;
        position: absolute;
        top: -23px;
    }
    .same-trademart-item-body p {
        line-height: 1.5;
    }
    
    .same-trademart-item-img button {
        border: 0px;
        padding: 6px 8px;
        background-color: #df1f26;
        margin: 10px;
        color: #fff;
    }
    .same-trademart-item-img img {
        margin-bottom: 10px;
    }
    .same-trademart {
        margin: 30px 0;
    }
    .author-avatar i {
        background-color: #ccc;
        padding: 10px;
        border-radius: 10px;
    }
    .author-avatar {
        font-size: 40px;
        float: left;
        margin: 0 10px;
    }
    .comment-daddy p {
        line-height: 1.5;
        display: contents;
    }
    .author-infor {
        margin-top: 10px;
    }
    .margin-top span {
        line-height: 1.5;
    } 
    .related-industries {
        margin-top: 10px;
        border: 1px solid #ccc;
    }
    .related-industries__header {

    }
    .related-industries__header p {
        background-color: #ccc;
        padding: 10px;
        color: black;
        font-weight: bold;
    }
    .list-related-industries {
        list-style-type: none;
    }
    .list-related-industries li {
        border-bottom: 1px solid #ccc;
        padding: 10px;
    }
    .wapper-register {
        margin: 15px;
    }
    .wapper-register p {
        padding-bottom: 10px;
    }
    .register {
        width: 50%;
        float: left;
        margin-right: 5px;
        border: 1px solid #ccc;
    }
    .register-login__body {
        margin-top: 10px;
    }
    .login {
        float: right;
        margin-bottom: 10px;
        width: 48%;
        border: 1px solid #ccc;
    }
    .login-and-register {
        margin-top: 30px;
    }
    .wapper-register input {
        padding: 8px;
        width: 65%;
    }
    .wapper-login {
        margin: 15px;
    }
    .wapper-login p {
        padding-bottom: 10px;
    }
    .wapper-login input {
        width: 65%;
        padding: 7px;    
        margin-bottom: 10px;
    }
    .create-account {
        border: none;
        background-color: #df1f26;
        color: #fff;
        padding: 10px 15px;
        float: right;
        margin: 10px;
    }
    .button-login {
        float: right;
        display: flex;
        align-items: center;
    }
    .cart-infor {
        font-family: tahoma;
        margin-top: 15px;
        font-size: 13px;
    }
    .bread-crum {
        border: 1px solid #ccc;
        padding: 10px;
    }
    .item-cart {
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 15px;
    }
    .list-item-cart {
        border: 1px solid #ccc;
        margin-top: 25px;
    }
    .item-cart__header {
        display: flex;
    }
    .item-image-cart {
        margin: 10px;
    }
    .name-cart-item {
        margin: 10px;
    }
    .price-item-cart {
        margin: 10px;
    }
    .total-item-cart {
        margin: 10px;
    }
    .price-cart {
        margin: 10px;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 767px) { 
    /* STYLES HERE */
}

@media only screen and (max-device-width: 480px) {
    /* STYLES HERE */
}